
body {
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    background-color: #78cee9;
    border: 6px solid #00cb4a;
    padding: 2rem;
    margin: 2rem;
}

img {
    
    float: right;
}